<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<!-- 项目配置 -->
	<servlet>
		<servlet-name>CheckManagerServlet</servlet-name>
		<servlet-class>com.dw.controll.CheckManagerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminLoginServlet</servlet-name>
		<servlet-class>com.dw.controll.AdminLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminStudentServlet</servlet-name>
		<servlet-class>com.dw.controll.AdminStudentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminBlogServlet</servlet-name>
		<servlet-class>com.dw.controll.AdminBlogServlet</servlet-class>
	</servlet>
	<servlet>
    	<servlet-name>SearchByBIdServlet</servlet-name>
    	<servlet-class>com.dw.controll.SearchByBIdServlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>SearchBySIdServlet</servlet-name>
    	<servlet-class>com.dw.controll.SearchBySIdServlet</servlet-class>
    </servlet>
	<servlet>
		<servlet-name>DeleteStudentServlet</servlet-name>
		<servlet-class>com.dw.controll.DeleteStudentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteBlogServlet</servlet-name>
		<servlet-class>com.dw.controll.DeleteBlogServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>showAllFriendsServlet</servlet-name>
		<servlet-class>com.dw.controll.ShowAllFriendsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>showMeServlet</servlet-name>
		<servlet-class>com.dw.controll.ShowMeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>showFriendServlet</servlet-name>
		<servlet-class>com.dw.controll.ShowFriendServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>showSpaceServlet</servlet-name>
		<servlet-class>com.dw.controll.ShowSpaceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>showBlogServlet</servlet-name>
		<servlet-class>com.dw.controll.ShowBlogServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>pubBlogServlet</servlet-name>
		<servlet-class>com.dw.controll.PubBlogServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>comBlogServlet</servlet-name>
		<servlet-class>com.dw.controll.ComBlogServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>goodBlogServlet</servlet-name>
		<servlet-class>com.dw.controll.GoodBlogServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>showPhotoServlet</servlet-name>
		<servlet-class>com.dw.controll.ShowPhotoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>uploadServlet</servlet-name>
		<servlet-class>com.dw.controll.UploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddFriendServlet</servlet-name>
		<servlet-class>com.dw.controll.AddFriendServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DelFriendServlet</servlet-name>
		<servlet-class>com.dw.controll.DeleteFriendServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PreServlet</servlet-name>
		<servlet-class>com.dw.controll.PreServlet</servlet-class>
	</servlet>
    <servlet>
		<servlet-name>deepSearchServlet</servlet-name>
		<servlet-class>com.dw.controll.DeepSearchServlet</servlet-class>
	</servlet>
	<servlet>
       <servlet-name>LoginServlet</servlet-name>
       <servlet-class>com.dw.controll.LoginServlet</servlet-class>
   </servlet>
   <servlet>
   		<servlet-name>RegisterServlet</servlet-name>
   		<servlet-class>com.dw.controll.RegisterServlet</servlet-class>
   </servlet>
  <servlet>
    <servlet-name>SearchByIdServlet</servlet-name>
    <servlet-class>com.dw.controll.SearchByIdServlet</servlet-class>
  </servlet>

	<!-- mapping映射 -->
	<servlet-mapping>
		<servlet-name>AdminLoginServlet</servlet-name>
		<url-pattern>/adminlogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminStudentServlet</servlet-name>
		<url-pattern>/adminStudent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminBlogServlet</servlet-name>
		<url-pattern>/adminBlog</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchByBIdServlet</servlet-name>
		<url-pattern>/searchByBId</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchBySIdServlet</servlet-name>
		<url-pattern>/searchBySId</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteStudentServlet</servlet-name>
		<url-pattern>/deleteStudent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteBlogServlet</servlet-name>
		<url-pattern>/deleteBlog</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckManagerServlet</servlet-name>
		<url-pattern>/check</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>showAllFriendsServlet</servlet-name>
		<url-pattern>/showAllFriends</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddFriendServlet</servlet-name>
		<url-pattern>/addFriend</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DelFriendServlet</servlet-name>
		<url-pattern>/deleteFriend</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>showMeServlet</servlet-name>
		<url-pattern>/showMe</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>showFriendServlet</servlet-name>
		<url-pattern>/showFriend</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>showSpaceServlet</servlet-name>
		<url-pattern>/showSpace</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>showBlogServlet</servlet-name>
		<url-pattern>/showBlog</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>pubBlogServlet</servlet-name>
		<url-pattern>/pubBlog</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>comBlogServlet</servlet-name>
		<url-pattern>/comBlog</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>goodBlogServlet</servlet-name>
		<url-pattern>/goodBlog</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>showPhotoServlet</servlet-name>
		<url-pattern>/showPhoto</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>uploadServlet</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
		<servlet-name>PreServlet</servlet-name>
		<url-pattern>/pre</url-pattern>
	</servlet-mapping>
   <servlet-mapping>
      <servlet-name>LoginServlet</servlet-name>
      <url-pattern>/login</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   		<servlet-name>deepSearchServlet</servlet-name>
   		<url-pattern>/deepSearch</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   		<servlet-name>RegisterServlet</servlet-name>
   		<url-pattern>/register</url-pattern>
   </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchByIdServlet</servlet-name>
    <url-pattern>/searchById</url-pattern>
  </servlet-mapping>
	<!-- filter过滤器解决中文乱码 -->
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>com.dw.filter.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!--CheckLoginFilter用于解决安全登录  --><!--
	<filter>
		<filter-name>login</filter-name>
		<filter-class>com.dw.filter.CheckFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>login</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
--></web-app>
